@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px; /* width of vertical scrollbar */
  height: 10px; /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #1f2937; /* track color (gray-800) */
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* thumb color (gray-600) */
  border-radius: 9999px; /* fully rounded */
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* hover state (gray-500) */
}
